<h1>Create an Account</h1>

<%= form_for @user do |f| %>
<div class="newuser">
<div class="form-group">
  <%= f.label :first_name, 'First Name:' %>
  <%= f.text_field :first_name, class: "form-control", placeholder: 'First name' %>
</div>

<div class="form-group">
  <%= f.label :last_name, 'Last Name:' %>
  <%= f.text_field :last_name, class: "form-control", placeholder: 'Last name' %>
</div>

<div class="form-group">
  <%= f.label :emal, 'Email:' %>
  <%= f.email_field :email, class: "form-control", placeholder: 'Email' %>
</div>

<div class="form-group">
  <%= f.label :password, 'Password:' %>
  <%= f.password_field :password, class: "form-control", placeholder: 'Password' %>
</div>

<div class="form-group">
  <%= f.password_field :password_confirmation, class: "form-control", placeholder: 'Confirm Password' %>
</div>

  <%= f.submit  'Create Account', class: 'btn btn-success' %>
</div>
<br>

<%= link_to('Go Back', users_path) %>

<% end %>
