<h1>Here is Z Kitty!</h1>

<ul>

<li><h4><b>Name: <%= @cat.name %></b></h4></li>
<li><h4><b>Age: <%= @cat.age %></b></h4></li>
<li><h4><b>Gender: <%= @cat.gender %></b></h4></li>
<li><h4><b>Description: <%= @cat.likes_dislikes %></b></h4></li>

</ul>
<%# image_tag '//s3-' + @cat.cat_pic.s3_region +  @cat.cat_pic.url[4..-1] %>
<%= link_to('Go Back', cats_path) %>

<% if current_user %>
  <%= link_to('Edit Cat', edit_cat_path) %>
  <%= link_to('Remove Cat from Post board', @cat, method: :delete, data: {confirm: 'Are you sure?'}) %>
<% end %>

<%= image_tag   @cat.cat_pic %>
